body {
  background-color: lightgray;
  color: darkslategray;
}

@mixin borders {
  bottom: 1px solid black;
  left: 1px dotted red;
}

table {
  thead {
    td {
      font-weight: bold;
      border: {
        @include borders;
      }
    }
  }
}
